# Copy to .env.local and fill in your values
NEXT_PUBLIC_SUPABASE_URL=https://qdohaderuzkypeesnssd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkb2hhZGVydXpreXBlZXNuc3NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExMjI4MjQsImV4cCI6MjA3NjY5ODgyNH0.NKTf2ziwqEs-QTHWrvTDXcCIFHCRnTczSwlPsicbR2Q
NEXT_PUBLIC_APP_URL=http://localhost:3000
